---
import styles from "./style.module.css";
import { getLangSettings } from "@translations/translationSettings";
const { t } = getLangSettings(Astro.url);
---

<days-calculator>
  <div class={styles.calculator}>
    <p class={styles.text}>
      {t.calc_desc_1}
    </p>
    <input data-role="input" class={styles.input} type="date" />
    <p class={styles.text}>
      {t.calc_desc_2}
      <div data-role="last" class={styles.last}></div>
    </p>
    <p class={styles.text}>
      {t.calc_desc_3}
      <div data-role="left" class={styles.left}></div>
    </p>
  </div>
</days-calculator>

<script src="./script.ts"></script>
